
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBusLabel" translate="agenceDeVoyageApp.bus.home.createOrEditLabel">Create or edit a Bus</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="bus.id" readonly />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.bus.nom_bus" for="field_nom_bus">Nom_bus</label>
            <input type="text" class="form-control" name="nom_bus" id="field_nom_bus"
                    ng-model="bus.nom_bus"
                     />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.bus.immatriculation" for="field_immatriculation">Immatriculation</label>
            <input type="text" class="form-control" name="immatriculation" id="field_immatriculation"
                    ng-model="bus.immatriculation"
                     />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.bus.marque" for="field_marque">Marque</label>
            <input type="text" class="form-control" name="marque" id="field_marque"
                    ng-model="bus.marque"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
