
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySecretaireLabel" translate="agenceDeVoyageApp.secretaire.home.createOrEditLabel">Create or edit a Secretaire</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="secretaire.id" readonly />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.secretaire.nom_secretaire" for="field_nom_secretaire">Nom_secretaire</label>
            <input type="text" class="form-control" name="nom_secretaire" id="field_nom_secretaire"
                    ng-model="secretaire.nom_secretaire"
                     />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.secretaire.prenom_secretaire" for="field_prenom_secretaire">Prenom_secretaire</label>
            <input type="text" class="form-control" name="prenom_secretaire" id="field_prenom_secretaire"
                    ng-model="secretaire.prenom_secretaire"
                     />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.secretaire.tel_secretaire" for="field_tel_secretaire">Tel_secretaire</label>
            <input type="number" class="form-control" name="tel_secretaire" id="field_tel_secretaire"
                    ng-model="secretaire.tel_secretaire"
                     />
        </div>
        <div class="form-group">
            <label translate="agenceDeVoyageApp.secretaire.adresse_secretaire" for="field_adresse_secretaire">Adresse_secretaire</label>
            <input type="text" class="form-control" name="adresse_secretaire" id="field_adresse_secretaire"
                    ng-model="secretaire.adresse_secretaire"
                     />
        </div>

        <div class="form-group">
            <label translate="agenceDeVoyageApp.secretaire.responsable" for="field_responsable">responsable</label>
            <select class="form-control" id="field_responsable" name="responsable" ng-model="secretaire.responsable" ng-options="responsable as responsable.nom_responsable for responsable in responsables | orderBy:'id' track by responsable.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
