<div style="background-color: whitesmoke;">
    <h2 translate="agenceDeVoyageApp.voyage.home.title">Voyages</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="voyage.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="agenceDeVoyageApp.voyage.home.createLabel">Create a new Voyage</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVoyageConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(voyage.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="agenceDeVoyageApp.voyage.delete.question" translate-values="{id: '{{voyage.id}}'}">Are you sure you want to delete this Voyage?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="agenceDeVoyageApp.voyage.date">Date</th>
                    <th translate="agenceDeVoyageApp.voyage.ville_depart">Ville_depart</th>
                    <th translate="agenceDeVoyageApp.voyage.ville_arrivee">Ville_arrivee</th>
                    <th translate="agenceDeVoyageApp.voyage.heure_depart">Heure_depart</th>
                    <th translate="agenceDeVoyageApp.voyage.heure_arrivee">Heure_arrivee</th>
                    <th translate="agenceDeVoyageApp.voyage.bus">bus</th>
                    <th translate="agenceDeVoyageApp.voyage.chauffeur">chauffeur</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="voyage in voyages track by voyage.id">
                    <td><a ui-sref="voyage.detail({id:voyage.id})">{{voyage.id}}</a></td>
                        <td>{{voyage.date | date:'mediumDate'}}</td>
                    <td>{{voyage.ville_depart}}</td>
                    <td>{{voyage.ville_arrivee}}</td>
                    <td>{{voyage.heure_depart}}</td>
                    <td>{{voyage.heure_arrivee}}</td>
                    <td>
                        <a ui-sref="bus.detail({id:voyage.bus.id})">{{voyage.bus.nom_bus}}</a>
                    </td>
                    <td>
                        <a ui-sref="chauffeur.detail({id:voyage.chauffeur.id})">{{voyage.chauffeur.nom_chauffeur}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="voyage.detail({id:voyage.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="voyage.edit({id:voyage.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(voyage.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
