<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Agence de Voyage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="css/main.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body  ng-app="agenceDeVoyageApp">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper" ng-controller="NavbarController">
	        <div class="container" ng-switch="isAuthenticated()">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li has-authority="ROLE_CAISSIERE" ng-switch-when="true" class="shopping-cart-items" ng-show="nbresitem!=0">
                                <i class="glyphicon glyphicon-tags icon-white"></i>
                                <a href="#/demande">
                                    <b>
                                        <span class="badge">{{nbresitem}}</span>
                                        Tickets
                                    </b>
                                </a>
                            </li>
                            <li has-authority="ROLE_CAISSIERE" ng-switch-when="true" class="shopping-cart-items" ng-show="nbrereserver!=0">
                                <i class="glyphicon glyphicon-tags icon-white"></i>
                                <a href="#/reserver">
                                    <b>
                                        <span class="badge">{{nbrereserver}</span>
                                        Reservés
                                    </b>
                                </a>
                            </li>
			        		<li ng-switch-when="false">
                                <a href="#/sign">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                            </li>
                            <li ng-switch-when="true">
                                <a ng-click="logout()">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                &#xA0;<span>Sign out</span>
                                </a>
                            </li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper">

                            <img src="img/mPurpose-logo.png">

                        </li>
                        <li ng-switch-when="false" ui-sref-active="active">
                            <a href="#/">
                            Home
                            </a>
                        </li>
                        <li ng-switch-when="false" ui-sref-active="active">
                            <a href="#/transport">
                            Nos Destinations
                            </a>
                        </li>
                        <li ng-switch-when="false" ui-sref-active="active">
                            <a href="#/reservation">
                            Reservation
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_SECRETAIRE" ng-switch-when="true" ui-sref-active="active">
                            <a href="#/infos" data-toggle="collapse" data-target=".navbar-collapse.in">Infos Client Ticket</a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CAISSIERE" ng-switch-when="true" ui-sref-active="active">
                            <a href="#/demande">Demande de Ticket&nbsp;<span class="badge" ng-show="nbresitem!=0">{{nbresitem}}</span></a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CAISSIERE" ng-switch-when="true" ui-sref-active="active">
                            <a href="#/reserver">Tickets Reservés&nbsp;<span class="badge" ng-show="nbrereserver!=0">{{nbrereserver}}</span></a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CAISSIERE" ng-switch-when="true" ui-sref-active="active">
                            <a href="#/history" data-toggle="collapse" data-target=".navbar-collapse.in" >History Clients</a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CAISSIERE" ng-switch-when="true" ui-sref-active="active">
                            <a href="#/listesticket" data-toggle="collapse" data-target=".navbar-collapse.in" >Listes Des Tickets</a>
                        </li>
						<li class="has-submenu">
							<a>My Menu +</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Infos</h4>
										<ul>
                                            <li><a href="#/setpassword">Password Reset</a></li>
										</ul>
                                        <div has-authority="ROLE_ADMIN" ng-switch-when="true">
                                            <h4>Entities</h4>
                                            <ul>
                                                <li ui-sref-active="active" ><a ui-sref="responsable"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.responsable">responsable</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="secretaire"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.secretaire">secretaire</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="client"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.client">client</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="ticket"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.ticket">ticket</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="caissiere"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.caissiere">caissiere</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="voyage"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.voyage">voyage</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="bus"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.bus">bus</span></a></li>
                                                <li ui-sref-active="active" ><a ui-sref="chauffeur"><span class="glyphicon glyphicon-asterisk"></span>
                                                    &#xA0;<span translate="global.menu.entities.chauffeur">chauffeur</span></a></li>
                                            </ul>
                                        </div>
									</div>
                                    <div has-authority="ROLE_ADMIN" ng-switch-when="true">
                                        <h4>Administrateur</h4>
                                        <ul>
                                            <li ui-sref-active="active"><a ui-sref="user-management"><span class="glyphicon glyphicon-user"></span>
                                                &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                                            <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                                                &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                                            <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                                                &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                                            <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                                                &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                                            <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                                                &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                                            <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                                                &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                                            <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                                                &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                                            <li ng-hide="inProduction"><a href='/console' target="_tab"><span class="glyphicon glyphicon-hdd"></span>
                                                &#xA0;<span translate="global.menu.admin.database">Database</span></a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Transport</h4>
                                        <ul>
                                            <li><a href="#/transport">Nos Destination</a></li>
                                        </ul>
                                        <h4>Contact & Event</h4>
                                        <ul>
                                            <li><a href="#/contacts">Contact Us</a></li>
                                            <li><a href="#/travel">Hot Travel</a></li>
                                            <li><a href="#/events">Events</a></li>
                                        </ul>
                                    </div>
                                    <div ng-controller="LanguageController">
                                    <h4>Langue</h4>
                                        <ul>
                                            <li active-menu="{{language}}" ng-repeat="language in languages">
                                                <a href="" ng-click="changeLanguage(language)">{{language | findLanguageFromKey}}</a>
                                            </li>
                                        </ul>
                                    </div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
					</ul>
				</nav>
			</div>
		</div>

        <div ui-view="content"></div>

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Tous Nos Destinations</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#/transport"><img src="images/img.jpg" style="width: 230px; height: 130px"></a>
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Popular Destinations</h3>
		    			<ul class="no-list-style footer-navigate-section">
                            <li><a href="#">Douala</a></li>
                            <li><a href="#">Yaoundé</a></li>
                            <li><a href="#">Kribi</a></li>
                            <li><a href="#">Buea</a></li>
                            <li><a href="#">Bafoussam</a></li>
		    			</ul>
		    		</div>

		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> AKwa Nord , Douala, Cameroun<br/>
	        				<b>Phone:</b> +237 697879212 <br/>
	        				<b>Fax:</b> +237 423654321<br/>
	        				<b>Email:</b> <a href="mailto:partout@agencevoyage.com">partout@agencevoyage.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy;2016  Agence de Voyage. site: agencevoyage.com</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
        <script src="scripts/app/app.js"></script>
        <script src="scripts/app/controllerpages/infosController.js"></script>
        <script src="scripts/app/controllerpages/demandeController.js"></script>
        <script src="scripts/app/controllerpages/creationticket.js"></script>
        <script src="scripts/app/controllerpages/listesticket.js"></script>
        <script src="scripts/app/controllerpages/reservationController.js"></script>
        <script src="scripts/app/app.constants.js"></script>
        <script src="scripts/components/auth/auth.service.js"></script>
        <script src="scripts/components/auth/principal.service.js"></script>
        <script src="scripts/components/auth/authority.directive.js"></script>
        <script src="scripts/components/auth/services/account.service.js"></script>
        <script src="scripts/components/auth/services/activate.service.js"></script>
        <script src="scripts/components/auth/services/password.service.js"></script>
        <script src="scripts/components/auth/services/register.service.js"></script>
        <script src="scripts/components/form/form.directive.js"></script>
        <script src="scripts/components/form/maxbytes.directive.js"></script>
        <script src="scripts/components/form/minbytes.directive.js"></script>
        <script src="scripts/components/form/pager.directive.js"></script>
        <script src="scripts/components/form/pagination.directive.js"></script>
        <script src="scripts/components/admin/audits.service.js"></script>
        <script src="scripts/components/admin/logs.service.js"></script>
        <script src="scripts/components/admin/configuration.service.js"></script>
        <script src="scripts/components/admin/monitoring.service.js"></script>
        <script src="scripts/components/interceptor/auth.interceptor.js"></script>
        <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
        <script src="scripts/components/interceptor/notification.interceptor.js"></script>
        <script src="scripts/components/navbar/navbar.directive.js"></script>
        <script src="scripts/components/navbar/navbar.controller.js"></script>
        <script src="scripts/components/user/user.service.js"></script>
        <script src="scripts/components/util/truncate.filter.js"></script>
        <script src="scripts/components/util/base64.service.js"></script>
        <script src="scripts/components/util/capitalize.filter.js"></script>
        <script src="scripts/components/alert/alert.service.js"></script>
        <script src="scripts/components/alert/alert.directive.js"></script>
        <script src="scripts/components/util/parse-links.service.js"></script>
        <script src="scripts/components/util/dateutil.service.js"></script>
        <script src="scripts/app/account/account.js"></script>
        <script src="scripts/app/account/activate/activate.js"></script>
        <script src="scripts/app/account/activate/activate.controller.js"></script>
        <script src="scripts/app/account/login/login.js"></script>
        <script src="scripts/app/account/login/login.controller.js"></script>
        <script src="scripts/app/account/password/password.js"></script>
        <script src="scripts/app/account/password/password.controller.js"></script>
        <script src="scripts/app/account/password/password.directive.js"></script>
        <script src="scripts/app/account/register/register.js"></script>
        <script src="scripts/app/account/register/register.controller.js"></script>
        <script src="scripts/app/account/settings/settings.js"></script>
        <script src="scripts/app/account/settings/settings.controller.js"></script>
        <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
        <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
        <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
        <script src="scripts/app/account/reset/request/reset.request.js"></script>
        <script src="scripts/app/admin/admin.js"></script>
        <script src="scripts/app/admin/audits/audits.js"></script>
        <script src="scripts/app/admin/audits/audits.controller.js"></script>
        <script src="scripts/app/admin/configuration/configuration.js"></script>
        <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
        <script src="scripts/app/admin/docs/docs.js"></script>
        <script src="scripts/app/admin/health/health.js"></script>
        <script src="scripts/app/admin/health/health.controller.js"></script>
        <script src="scripts/app/admin/health/health.modal.controller.js"></script>
        <script src="scripts/app/admin/logs/logs.js"></script>
        <script src="scripts/app/admin/logs/logs.controller.js"></script>
        <script src="scripts/app/admin/metrics/metrics.js"></script>
        <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
        <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management.js"></script>
        <script src="scripts/app/entities/entity.js"></script>
        <script src="scripts/app/error/error.js"></script>
        <script src="scripts/app/main/main.js"></script>
        <script src="scripts/app/main/main.controller.js"></script>
        <script src="bower_components/messageformat/locale/en.js"></script>
        <script src="bower_components/messageformat/locale/fr.js"></script>
        <script src="scripts/components/language/language.service.js"></script>
        <script src="scripts/components/language/language.controller.js"></script>
        <script src="scripts/components/auth/services/sessions.service.js"></script>
        <script src="scripts/components/auth/provider/auth.session.service.js"></script>
        <script src="scripts/app/account/sessions/sessions.js"></script>
        <script src="scripts/app/account/sessions/sessions.controller.js"></script>
        <script src="scripts/app/entities/responsable/responsable.js"></script>
        <script src="scripts/app/entities/responsable/responsable.controller.js"></script>
        <script src="scripts/app/entities/responsable/responsable-dialog.controller.js"></script>
        <script src="scripts/app/entities/responsable/responsable-detail.controller.js"></script>
        <script src="scripts/components/entities/responsable/responsable.service.js"></script>
        <script src="scripts/app/entities/secretaire/secretaire.js"></script>
        <script src="scripts/app/entities/secretaire/secretaire.controller.js"></script>
        <script src="scripts/app/entities/secretaire/secretaire-dialog.controller.js"></script>
        <script src="scripts/app/entities/secretaire/secretaire-detail.controller.js"></script>
        <script src="scripts/components/entities/secretaire/secretaire.service.js"></script>
        <script src="scripts/app/entities/client/client.js"></script>
        <script src="scripts/app/entities/client/client.controller.js"></script>
        <script src="scripts/app/entities/client/client-dialog.controller.js"></script>
        <script src="scripts/app/entities/client/client-detail.controller.js"></script>
        <script src="scripts/components/entities/client/client.service.js"></script>
        <script src="scripts/app/entities/ticket/ticket.js"></script>
        <script src="scripts/app/entities/ticket/ticket.controller.js"></script>
        <script src="scripts/app/entities/ticket/ticket-dialog.controller.js"></script>
        <script src="scripts/app/entities/ticket/ticket-detail.controller.js"></script>
        <script src="scripts/components/entities/ticket/ticket.service.js"></script>
        <script src="scripts/app/entities/caissiere/caissiere.js"></script>
        <script src="scripts/app/entities/caissiere/caissiere.controller.js"></script>
        <script src="scripts/app/entities/caissiere/caissiere-dialog.controller.js"></script>
        <script src="scripts/app/entities/caissiere/caissiere-detail.controller.js"></script>
        <script src="scripts/components/entities/caissiere/caissiere.service.js"></script>
        <script src="scripts/app/entities/voyage/voyage.js"></script>
        <script src="scripts/app/entities/voyage/voyage.controller.js"></script>
        <script src="scripts/app/entities/voyage/voyage-dialog.controller.js"></script>
        <script src="scripts/app/entities/voyage/voyage-detail.controller.js"></script>
        <script src="scripts/components/entities/voyage/voyage.service.js"></script>
        <script src="scripts/app/entities/bus/bus.js"></script>
        <script src="scripts/app/entities/bus/bus.controller.js"></script>
        <script src="scripts/app/entities/bus/bus-dialog.controller.js"></script>
        <script src="scripts/app/entities/bus/bus-detail.controller.js"></script>
        <script src="scripts/components/entities/bus/bus.service.js"></script>
        <script src="scripts/app/entities/chauffeur/chauffeur.js"></script>
        <script src="scripts/app/entities/chauffeur/chauffeur.controller.js"></script>
        <script src="scripts/app/entities/chauffeur/chauffeur-dialog.controller.js"></script>
        <script src="scripts/app/entities/chauffeur/chauffeur-detail.controller.js"></script>
        <script src="scripts/components/entities/chauffeur/chauffeur.service.js"></script>
        <script src="scripts/components/entities/imprime/imprime.service.js"></script>
        <!-- endbuild -->
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>

    </body>
</html>
